!**/src/main/**
!**/src/test/**
!gradle/wrapper/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Server Auto Generated ###
config

### Gradle ###
target/
build/
.gradle

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
